@import '../allVariables.scss';

.card {
    height: $default-size * 4;
    width: $default-size * 3.5;
    color: black;
    padding: $padding-default;
    background: hsla(55, 38%, 94%, 0.9);
    border-radius: 12px;
    .photo {
        inline-size: 100%;
        object-fit:scale-down;
        aspect-ratio: 4 / 3;
    }
    .title {
        font-size: 24px;
        color: darkgoldenrod;
        font-weight: bolder;
        margin-bottom: 1rem;
    }
}