@import '../allVariables.scss';

.underscore {
    content: '';
    width: 0;
    background-color: $main-color;
    height: 0.3rem;
    transition: width 1.5s ease-in-out;
}
.underscore-active {
    width: 30rem;
}
.white-text {
    color: linen;
}
.introduction {
    width: 50vw;
    height: 80vh;
    background: rgba(0,0,0,50%);
    margin: auto;
}
.gold {
    color:$main-color;
}
.bigger {
    font-size: 69px;
}
.black-gold {
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,100%) 50%, hsl(46, 65%, 52%));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-display:inherit;
}
.darker-bg {
    background: linear-gradient(120deg,rgba(0,0,0,50%),hsl(46, 65%, 52%))
}
.intro-article {
    border-radius: 12px;
    padding: 1rem;
}
.img-container {
    width: 20rem;
    height: 30rem;
    margin-right: 3rem;
}
.responsive-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.btn-mine {
    background-color : $btn-mine;
    color: black;
}
.btn-mine:hover {
    background-color: $main-color;
}