@import '../allVariables.scss';

.head {
    margin: 2rem 20rem;
    border-radius: 24px;
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    background: hsla(60, 7%, 5%, 0.8);
}

.card-container {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    gap: $gap-default;
    scrollbar-width: 5px;
    height: 40rem;
}
.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: $gap-default;
}
.snaps-inline > * {
    scroll-snap-align: start;
}
::-webkit-scrollbar {
    width: 0;
}
::-webkit-scrollbar-track {
    background: hsla(50 75% 50%);
    border-radius: 100vw;
    margin-block: .5em;
}
::-webkit-scrollbar-thumb {
    background: #805A38;
    border-radius: 100vw;
    margin-block: .5em;
}
