@import "../node_modules/bootstrap/scss/bootstrap";
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navi {
    height: 2rem;
    background-color: #D4AF37;
}

.shrink_me {
    width: 5rem;
    height: 2.5rem;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

    
.shrink_me:hover {
    background-color: #D4AF37;
    box-shadow: 0px 0px 25px 5px;
    border: none;
}
.logo {
    box-shadow: 0 0 15px 15px;
}
.btn-color {
    background-color: #333333;
    border: #444444;
}
.bg-photo {    
    background: url(/src/public/background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}

.space-5 {
    margin-top: 1rem;
}
.ContactForm {
    height: 100vh;
}