@import './allVariables.scss';

.card {
    height: $default-size * 4;
    width: $default-size * 2;
    display: grid;
    grid-template-rows: min-content;
    color: linen;
    gap: $gap-default;
    padding: $padding-defualt;
    background: rgba(0,0,0,50%);
    border-radius: 12px;
    img {
        inline-size: 100%;
        aspect-ratio: 16 / 9;
        object-fit:contain;
    }
    .title {
        font-size: 24px;
        font-weight: bolder;
    }
}